* {
    font-size: 14px;
}
a:link, a:visited { 
    background-color: rgb(189, 141, 53); 
    color: white; 
    padding: 10px 25px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
 } 
 a:hover, a:active {
    background-color: rgb(48, 117, 111);
 }

 button:hover, button:active, button:visited {
    background-color: rgb(48, 117, 111);
 }

 .instructional-text{
    margin-top: 10px;
    margin-left: 5px;
    margin-bottom: 10px;
    margin-right: 5px;
 }

 .mat-button {
    background-color: rgb(189, 141, 53);
    margin: 10px 10px 10px 10px;
 }