<div id="divState" class="row mt-3">
  <div class="col- text-dark ml-2">As of {{today}}, {{StateWithMaxConfirmedCases}} is leading
    the chart with maximum confirmed cases.
  </div>
</div>
<div class="row">
  <!-- <div class="col- ml-2"> -->
  <div class="col- text-dark ml-2" style="margin: 20px 10px 10px 10px; text-align: center;">Top 10 States reported
    maximum confirmed cases:</div>
  <!-- <div class="mt-3"> -->
  <canvas id="canvas"></canvas>
  <!-- </div> -->
  <!-- </div> -->
</div>
<div class="row mt-3">
  <div class="col- text-dark ml-2">Please select a state and a case type to have a date-wise view:</div>
  <!-- <div class="row mt-3"> -->
  <div class="col- ml-2">
    <select name="state" class="custom-select" [(ngModel)]="code" (change)='stateChanged($event.target.value)'>
      <option *ngFor='let s of states' [value]='s.stateCode'>{{s.state}}</option>
    </select>
  </div>
  <div class="col- ml-2">
    <select name="stateCase" class="custom-select" [(ngModel)]="caseType"
      (change)='caseChangedForState($event.target.value)'>
      <option value="newCase" selected>New Cases</option>
      <option value="recoveredCase">Recovered Cases</option>
      <option value="fatalCase">Fatal Cases</option>
      <option value="activeCase">Active Cases</option>
    </select>
  </div>
</div>
<div class="row">
  <div class="col-sm-12 mt-3">
    <canvas id="lineChartStateId"></canvas>
  </div>
</div>


<div class="row mt-3">
  <div class="col- ml-2">
    <div class="text-dark">Please select a state to see the district-wise confirmed cases and zone:</div>
  </div>
  <div class="col- ml-2">
    <select name="state" class="custom-select" [(ngModel)]="stateCode" (change)='getDistrict($event.target.value)'>
      <option *ngFor='let s of listOfStates' [value]='s.stateCode'>{{s.stateName}}</option>
    </select>
  </div>
</div>
<div class="row" style="margin:10px 0px 10px 0px">
  <!-- <div class="text-dark">Districts having maximum Confirmed cases:</div> -->
  <div class="col-12">
    <p class="text-info ml-3" style="text-align: center !important;margin-bottom: 5px!important;">Districts having maximum Confirmed cases:</p>
    <canvas id="canvasIndiaDistrict"></canvas>
  </div>
</div>


<div class="text-dark">List of districts of the selected state falling in different zones with confirmed cases:</div>
<div class="row mt-3">
  <div class="col">
    <p class="text-success font-weight-bold" style="margin-bottom: 0px !important;"> Green zone districts</p>
    <!-- <select class="custom-select" size="20">
      <option *ngFor="let district of listOfDistrictsInGreenZone" [value]='district.id'>{{district.name}}</option>
    </select> -->
    <mat-list>
      <mat-list-item class="border border-success rounded" style="height: 100% !important;" *ngFor="let district of listOfDistrictsInGreenZone">{{district.name}} - {{district.confirmed | number:'1.0':'en-US'}}</mat-list-item>
    </mat-list>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <p class="text-warning font-weight-bold" style="margin-bottom: 0px !important;">Orange zone districts</p>
    <!-- <select class="custom-select" size="20">
      <option *ngFor="let district of listOfDistrictsInOrangeZone" [value]='district.id'>{{district.name}}</option>
    </select> -->
    <mat-list>
      <mat-list-item class="border rounded" style="border: 1px solid orange !important; height: 100% !important;" *ngFor="let district of listOfDistrictsInOrangeZone">{{district.name}} - {{district.confirmed | number:'1.0':'en-US'}}</mat-list-item>
    </mat-list>
  </div>
</div>
<div class="row mt-3">
  <div class="col">
    <p class="text-danger font-weight-bold" style="margin-bottom: 0px !important;">Red zone districts</p>
    <!-- <select class="custom-select" size="20">
      <option *ngFor="let district of listOfDistrictsInRedZone" [value]='district.id'>{{district.name}}</option>
    </select> -->
    <mat-list>
      <mat-list-item class="border border-danger rounded" style="height: 100% !important;" *ngFor="let district of listOfDistrictsInRedZone">{{district.name}} - {{district.confirmed | number:'1.0':'en-US'}}</mat-list-item>
    </mat-list>
  </div>
</div>