<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="text-success text-center">Covid Tracker For India</h3>
        </div>

    </div>
    <div class="row">
        <div class="col-sm-4">
            
            Confirmed Cases: <span class="text-primary font-weight-bolder">{{ confirmed }}</span>
               
                
        </div>
        <div class="col-sm-4">
            Active Cases: <span class="text-warning font-weight-bolder">{{active}}</span>

        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            Recovered Cases: <span class="text-success font-weight-bolder">{{recover}}</span>

        </div>
        <div class="col-sm-4">
            Fatal Cases: <span class="text-danger font-weight-bolder">{{fatel}}</span>

        </div>
    </div>
    <div class="row">
<div class="col-sm-12">
    <br>
<p class="text-success">Distribution of cases in tabular format</p>
</div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="mat-elevation-z8 ">
            <table mat-table [dataSource]="dataSource" matSort class="table table-striped table-dark">

                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
              
                <!-- Position Column -->
                <ng-container matColumnDef="State/UT">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> State/UT </th>
                  <td mat-cell *matCellDef="let element" class="text-white"> {{element.state}} </td>
                </ng-container>
              
                <!-- Name Column -->
                <ng-container matColumnDef="Confirmed">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Confirmed </th>
                  <td mat-cell *matCellDef="let element" class="text-danger font-weight-bolder"> {{element.confirmedCase}} </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="Recovered">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Recovered </th>
                  <td mat-cell *matCellDef="let element" class="text-success font-weight-bolder"> {{element.curedCase}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="Deceased">
                  <th mat-header-cell *matHeaderCellDef mat-sort-header class="text-white"> Deceased </th>
                  <td mat-cell *matCellDef="let element" class="text-primary font-weight-bolder"> {{element.death}} </td>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
              </table>
              <mat-paginator [pageSizeOptions]="[10, 20, 50]" showFirstLastButtons>

</mat-paginator>
</div>
              
        </div>
       

    </div>
    <div class="row">
        <div class="col-sm-12">
            <br>
<p class="text-success font-weight-bolder">Distribution of confirmed cases</p>
        </div>


    </div>
    
    <div class="row">

        <div class="col-sm-12 chart">
            <canvas baseChart
        [data]="pieChartData"
        [labels]="pieChartLabels"
        [chartType]="pieChartType"
        [options]="pieChartOptions"
        [plugins]="pieChartPlugins"
        [colors]="pieChartColors"
        [legend]="pieChartLegend">
      </canvas>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <br>
<p class="text-primary font-weight-bolder">Top 6 states recorded as most confirmed cases</p>
        </div>


    </div>
    <div class="row">
        
        <div class="col-sm-12" style="display: block">
            
                <canvas baseChart
                  [datasets]="barChartData"
                  [labels]="barChartLabels"
                  [options]="barChartOptions"
                  [plugins]="barChartPlugins"
                  [legend]="barChartLegend"
                  [chartType]="barChartType">
                </canvas>
              

        </div>


    </div>

    

    




</div>

